extends ../layout

block content
	.row.main-row
		.col.s1
		.col.s10
			.section.card
				.card-content
					span.card-title=lang.admin.saved.title
					p=lang.admin.saved.list
					ul.collection#list
						each item in savedItems
							li.collection-item
								span=item.name
									a.secondary-content(href='/admin/removeSaved?name=' + item._id, id='delete-item-' + item.name)
										i.fa.fa-trash.dark
					p=lang.admin.saved.add
					form#upload(action='/admin/addSaved', method='POST', enctype='multipart/form-data')
						.row
							.col.s3.input-field
								input#save_as.validate(type='text', name='name')
								label.active(for='save_as')=lang.admin.saved.new_name
							.col.s3.input-field
								input#save_as_short.validate(type='text', name='short_name')
								label.active(for='save_as_short')=lang.admin.saved.new_short_name
							.col.s3.input-field.file-field
								.btn
									span=lang.select_file
									input(type='file', name='file')
								.file-path-wrapper
									input.file-path.validate(type='text')
							.col.s3
								input.btn.file-input-container.submit-button(type='submit', value=lang.admin.saved.add)

		.col.s1
append scripts
	script.
		$('#upload').submit(function (e) {
			$('<li id="loading-indicator" class="collection-item"><div class="progress"><div class="indeterminate"></div></div></li>').appendTo(list);

		})
