extends layout
mixin vislink(visname, disabled)
	a(href=disabled || !name ? '#' : '/' + visname, onmouseover='(function display(){DisplayDetails(\''+ visname +'\')})()')
		if disabled || !name
			div.card-image.disabled
				img(src='/images/' + visname + '.jpg')
		else
			div.card-image
				img(src='/images/' + visname + '.jpg')

block content
	.row.main-row
		.col.s7(style='margin-top: 20px')
			.row
				if !group
					#row1.col.s4
						.card.white-text(style='margin-bottom: 20px')
							+vislink('works')
						.card.white-text
							+vislink('research-map')
					#row2.col.s4
						.card.white-text(style='margin-bottom: 20px')
							+vislink('collab')
						.card.white-text
							+vislink('bubbles')
					#row3.col.s4
						.card.white-text(style='margin-bottom: 20px')
							+vislink('google-map')
						.card.white-text
							+vislink('wordcloud')
				else
					#row1.col.s4
						.card.white-text(style='margin-bottom: 20px')
							+vislink('works')
						.card.white-text
							+vislink('research-map')

					#row2.col.s4
						.card.white-text(style='margin-bottom: 20px')
							+vislink('collab')
						.card.white-text
							+vislink('bubbles')
					#row3.col.s4
						.card.white-text(style='margin-bottom: 20px')
							+vislink('google-map', true)
						.card.white-text
							+vislink('wordcloud')

		.col.s5(style='height: 100%; padding-right: 0')
			.z-depth-1.vis-select
				.row
					a.btn(href=group ? '/single' : '/group')=group ? lang.group.disable : lang.group.enable
				if !!name
					.row
						a.btn(href='/clearWorks')=lang.clear_works
				else
					.row
						a.btn(href='http://bg.cm.umk.pl/splendor/umk/')=lang.get_data
				.row
					.card.name-input-card.col.s12
						.card-content.black-text
							span.card-title=lang.vis_details_title
							br
							span#details-host
				.row
					ul.collection.with-header.z-depth-1
						li.collection-header
							h5=lang.stats.title
						li.collection-item
							div
								span=lang.stats.sum
								span#works-amount-display(style='float: right') -
						li.collection-item
							div
								span=lang.stats.pointSum
								span#ministerial-points-amount-display(style='float: right') -
						li.collection-item
							div
								span=lang.stats.pointAverage
								span#mean-ministerial-points-amount-display(style='float: right') -
						li.collection-item
							div
								span=lang.stats.coauthors
								span#coworkers-amount-display(style='float: right') -
						li.collection-item
							div
								span=lang.stats.main_coauthor
								span#max-shared-works-amount-display(style='float: right') -

block append scripts
	script(type='text/javascript').
		var jsStrings = !{JSON.stringify(lang.scriptable)};
	script(src="/js/index.js")
	// GoStats JavaScript Based Code
	script(type='text/javascript', src='http://gostats.pl/js/counter.js')
	script(type='text/javascript').
		_gos='monster.gostats.pl';_goa=493654;
		_got=5;_goi=1;_gol='licznik na stronie';_GoStatsRun();
	noscript
		a(target='_blank', title='licznik na stronie', href='http://gostats.pl')
			img(alt='licznik na stronie', src='http://monster.gostats.pl/bin/count/a_493654/t_5/i_1/counter.png', style='border-width:0')
	// End GoStats JavaScript Based Code

