extends layout
block content
	.row.main-row
		.col.s3.vis-details.z-depth-1(style='padding-left: 0')
			.row
				.card
					.card-content.white-text
						span.card-title=lang.vis_titles[visname]
						p=lang.scriptable.vis_details[visname]

			.row(style='padding-left: 10px;')
				button.btn.line-btn#genPdfBtn(onclick='genPdfDoc()')=lang.generate_pdf
			if (visname === 'collab')
				.row(style='padding-left: 10px')
					button#toggleView.btn.line-btn(onclick='showEdits()')=lang.editorial_view
			if (visname === 'collab' && group)
				.row(style='padding-left: 10px')
					button#toggleView.btn.line-btn(onclick='reload()')='Losuj'

		.col.s9.svg-container
			svg#svg-port.z-depth-1.svg-port
block append scripts
	script(type='text/javascript' src="/js/visualisations/genpdfbin.js")
	if !group
		script(src='/js/visualisations/' + visname + '.js')
		if visname === 'research-map'
			script(src='/js/three.js')
	else
		script(src='/js/group-visualisations/' + visname + '.js')
	script(src='/js/util.js')
	script(type='text/javascript').
		var jsStrings = !{JSON.stringify(lang.scriptable)};
		var visname = !{JSON.stringify(visname)};
		var authorName = !{JSON.stringify(name)};
	if visname === "research-map"
		script(src='/js/domains.js')
		script(src='/js/journals.js')



